<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bitclient"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BitClientApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_bucket_black_48"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_bucket_black_48"
        android:supportsRtl="true"
        android:theme="@style/Theme.BitClient.Launcher">
        <activity android:name=".ui.view.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
